<!-- nav -->
<nav class="navbar navbar-expand-md navbar-light mb-3" style="background-color: #e3f2fd;">
  <div class="container">
      <a href="#" class="navbar-brand mr-3">Send-it</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div *ngFor="let nav of navLinks.left" class="navbar-nav">
              <a routerLink="{{nav.routerLink}}" class="{{nav.cssClass}}">{{nav.displayText}}</a>
          </div>
          <div *ngFor="let nav of navLinks.right" class="navbar-nav ml-auto">
              <a routerLink="{{nav.routerLink}}" class="{{nav.cssClass}}">{{nav.displayText}}</a>
          </div>
      </div>
  </div>    
</nav>
    
<!-- main content container -->
<div class="container">
    <router-outlet></router-outlet>
</div>