<p class="lead">
    Create a card to share
</p>

<form [formGroup]="createForm" (ngSubmit)="create()">
    <div class="row">
        <div class="col-3 form-check form-check-inline">
            <input class="form-check-input" type="radio" name="msgTypeOptions" id="msgTypeRadio1" value="text">
            <label class="form-check-label" for="msgTypeRadio1">Text</label>
        </div>
        <div class="col-3 form-check form-check-inline">
            <input class="form-check-input" type="radio" name="msgTypeOptions" id="msgTypeRadio2" value="image">
            <label class="form-check-label" for="msgTypeRadio2">Image</label>
        </div>
        <div class="col-3 form-check form-check-inline">
            <input class="form-check-input" type="radio" name="msgTypeOptions" id="msgTypeRadio3" value="document">
            <label class="form-check-label" for="msgTypeRadio3">Document</label>
        </div>
    </div>
</form>